- unless can? :add_members, group
  -if current_user.nil?
    = link_to t(:request_membership), new_group_membership_request_path(group), class: 'btn request-membership-btn', id: 'request-membership'
  -elsif not group.users_include?(current_user)
    - membership_request = group.membership_requests.find_by_user_id(current_user)
    - if membership_request.present?
      = link_to t(:membership_requested), '#', method: :delete, confirm: t(:confirm_remove_membership_request), class: "btn", id: "membership-requested"
    - else
      - if group.parent.nil? || current_user.group_membership(group.parent)
        = link_to t(:request_membership), new_group_membership_request_path(group), class: 'btn request-membership-btn', id: 'request-membership'
