-if can? :add_members, @group
  %table.table
    %tr
      %th Name&nbsp;Email
      %th Introduction
      %th Approve
      %th Reject
    -@group.membership_requests.each do |request|
      %tr
        %td
          #{request.name}
          %br
          #{request.email}
        %td #{request.introduction}
        %td Approve
        %td Reject
