#thanks
  %h1 Thank you!
  .row
    .span7
      %p Thanks for contributing to Loomio! Your financial contribution will help us to continue making online decision-making easier and more accesible to the world.
      %p You should be receiving an email shortly with a receipt for your contribution.
