= t("email.proposal_edited.intro", who: @editor.name,proposal_name: @motion.name)
\
= t("email.proposal_edited.change", edit_message: @motion.edit_message)
= t("email.view_proposal")
= discussion_url(@motion.discussion, proposal: @motion)
